<div class="contenedor">
  <div class="center">
    <h1>Editar reporte</h1>
    <br />
    <br />
    <%= render 'form', reporte: @reporte %>
    <br />
    <br />
    <%= link_to 'Regresar', reportes_path, :class => 'main-color a' %>
  </div>
</div>
