<div class="contenedor">
  <p>&nbsp;</p>
  <h1 class="main-color"><i class="fa fa-recycle"></i>&nbsp; Acerca de</h1>
  <hr>

    <p>&nbsp;</p>
  <h3 class="main-color">De que se trata limpiApp?</h3>

<p>Somos una aplicación movil que genera consciencia y enseñanza acerca de temas de reciclaje
(por medio de la pedagogía), mediante diversas dinámicas como la realización de actividades lúdicas,
programación de actividades y campañas de sensibilización, educación y culturización sobre la importancia
de reciclar y estar al tanto de las actividades concernientes al reciclaje y recolección de basuras.</p>
<p></p>
<ul class="accordion">
  <li>
    <h3 class="skew-25"><a>
      <span class="skew25">¿Qué es lo que pretendemos?</span></a></h3>

    <div class="accordion-panel active">
      <p>
        Dentro de varias iniciativas que pretendemos lanzar a la comunidad, se propone instalar un localizador en los camiones recolectores de basuras,
        este notificará a las personas que tengan la aplicación temas como tiempo y/o distancia del camión, para ejercer más control sobre las horas de recolección
        y así mismo generar un hábito en los horarios de recolección.
      </p>
      <p>
        Dispondremos de un calendario de eventos y fechas relacionadas con el medio ambiente en general, en donde además se notificará sobre posibles cambios en la ruta,
        en los horarios y/o dias de recolección (a nivel interno de la empresa recolectora, esto funciona para generar control sobre horarios, móviles, rutas, conductores, entre otros).
      </p>
      <p>
        Tendremos una calculadora en línea que arrojará el valor aproximado de los puntos que puede obtener, producto del intercambio de residuos.
      </p>
    </div>
  </li>

  <li>
    <h3 class="skew-25"><a>
      <span class="skew25">¿Cómo puedo contribuir?</span></a></h3>

    <div class="accordion-panel active">
      <p>
        La aplicación tendrá una sección en donde se pueda generar un reporte de zonas en donde haya desaseo, exceso de residuos, elementos contaminantes y obstrucción del espacio público,
        factores que afectan la sana convivencia en comunidad e implican una seria afectación para el medio ambiente, por medio del reporte de estos escenarios, se podrá
        mantener al tanto a un monitor (un operador a nivel interno) sobre estos casos (los cuales dependiendo de la gravedad o grado de complejidad, serán notificados a las autoridades competentes
        y autoridades ambientales).
      </p>
    </div>
  </li>

  <li>
    <h3 class="skew-25"><a>
      <span class="skew25">¿Cuál es el propósito social?</span></a></h3>

    <div class="accordion-panel active">
      <p>
        Ademas de "Evangelizar" sobre el cuidado del medio ambiente, se propone crear unas estaciones inteligentes (físicas) en donda una persona puede llevar sus residuos
        y estos generen puntos (los cuales sean cambiados por beneficios como pasajes de servicio público, bonos de compra, entre otros). Un sistema de recambio de residuos por puntos.
      </p>
    </div>
  </li>


    <li>
      <h3 class="skew-25"><a>
        <span class="skew25">¿Quién más puede contribuir?</span></a></h3>

      <div class="accordion-panel active">
        <p>
          Tendremos una sección denominará "ecoaliados", son todas aquellas personas naturales, micro empresas o grandes empresas que deseen contribuir con la iniciativa por medio de sus empresas, actividades o industrias
          o que su actividad económica tenga afinidad y/o relación alguna con nuestra labor y que con su apoyo puedan contribuir al medio ambiente y a su vez, dar a concer e impulsar su empresa.
        </p>
      </div>
    </li>
</ul>


</div>
