
<div class="contenedor">
    <p>&nbsp;</p>
    <h1 class="main-color"><i class="fa fa-recycle"></i>&nbsp; Aviso legal y términos de uso.</h1>
    <hr>
    <p>&nbsp;</p>
    <h2>Términos y condiciones del uso mediante este aviso.</h2>
    <p>&nbsp;</p>
    <p>
    LimpiApp informa a los usuarios de la página web de su política de protección de datos de carácter personal.
    </p>
    <p>
    La utilización del espacio web de LimpiApp y de cualquiera de los servicios que se incorporan presupone la plena aceptación de las condiciones que se manifiestan en la política de privacidad que se expone.
    </p>
    <p>&nbsp;</p>
    <h3 class="main-color">Recogida de datos</h3>
    <p>&nbsp;</p>
    <p>
    Dando cumplimiento a la Ley 15/1999, de 13 de diciembre, de protección de datos de carácter personal, se informa que los datos de carácter personal que se solicitan en nuestros formularios se incluirán en un fichero de datos personales el responsable y titular del cual es LimpiApp.
    </p>

    <p>
    Así mismo, cuando una persona rellena cualquiera de los formularios con los datos personales que se solicitan y acepta el envío, autoriza expresamente a LimpiApp a tratar o incorporar en el fichero automatizado de su propiedad los datos personales facilitados en el formulario mencionado y todos los datos que se generen en relación con su participación o uso de los diferentes eventos que se ofrecen en esta página web.
    </p>
    <p>
    Salvo que específicamente se establezca lo contrario, se considerará necesario rellenar todos los campos de cada formulario, para ello el usuario deberá rellenar los formularios con datos verdaderos, exactos, completos y actualizados.
    </p>
    <p>
    El usuario será el único responsable de cualquier daño o perjuicio, directo y indirecto, que ocasione a LimpiApp o a cualquier tercero por rellenar los formularios con datos falsos, inexactos, incompletos o no actualizados o con datos de terceros.
    </p>
    <p>
    A través de las diferentes áreas que forman parte de este espacio web, los usuarios pueden obtener información, realizar consultas y participar los diferentes eventos que LimpiApp ofrezca mediante su espacio web.
    </p>
    <p>&nbsp;</p>
    <h3 class="main-color">Finalidades del tratamiento</h3>
    <p>&nbsp;</p>
    <p>
    Los datos facilitados nunca serán utilizados con una finalidad diferente de aquella para la cual han sido cedidos, y serán cancelados inmediatamente después de dejar de ser necesarios para esta finalidad, excepto cuando una ley establezca otra cosa.
    </p>
    <p>
    Cuando la persona interesada envía los datos personales y la dirección electrónica a LimpiApp, autoriza expresamente la utilización a efectos de comunicaciones periódicas, incluyendo expresamente las que se realicen por correo electrónico que LimpiApp o las entidades pertenecientes a el ámbito empresarial de LimpiApp lleven a término con los usuarios, y posibles interesados, para informarles de las noticias, eventos, etc...
    </p>
    <p>
    Al margen de lo que se ha dicho anteriormente, la recogida y el tratamiento automatizado de los datos personales facilitados tienen igualmente como finalidad la gestión administrativa y la ejecución y el desarrollo de toda actividad profesional propia de LimpiAppy la gestión del usuario en los diferentes servicios puestos a su disposición (a efectos meramente informativos: solicitud de información sobre eventos).
    </p>
    <p>&nbsp;</p>
    <h3 class="main-color">Seguridad</h3>
    <p>&nbsp;</p>
    <p>
    Toda la información relativa a datos de carácter personal recibida por LimpiApp es tratada con la máxima confidencialidad, y se procede únicamente a las comunicaciones estrictamente necesarias para la prestación del servicio que interesa en cada caso y las comunicaciones y cesiones autorizadas por el usuario mediante esta política de privacidad.
    </p>
    <p>
    LimpiApp ha adoptado los niveles de seguridad de protección de datos personales requeridos legalmente y ha instalado los medios y medidas técnicas a su alcance para evitar la pérdida, el mal uso, la alteración de los datos personales facilitados y el acceso no autorizado a estos datos.
    </p>
    <p>
    El usuario tiene derecho a acceder a la información que le concierne recopilada en los ficheros de LimpiApp, rectificarla si es errónea, cancelarla o oponerse a su tratamiento, por la vía del correo electrónico a la dirección info@limpiapp.com.
    </p>
    <p>&nbsp;</p>
    <h3 class="main-color">Cesión de datos</h3>
    <p>&nbsp;</p>
    <p>
    El usuario acepta que sus datos puedan ser cedidos, exclusivamente para las finalidades descritas anteriormente, a las entidades con las que participa LimpiApp.
    </p>
    <p>
    La aceptación del usuario que sus datos puedan ser tratados o cedidos de la manera establecida en este parágrafo tiene siempre el carácter de revocable, sin efectos retroactivos, de acuerdo con lo que disponen los artículos 6 y 11 de la Ley orgánica 15/1999, de 13 de diciembre.
    </p>
    <p>&nbsp;</p>
    <h3 class="main-color">Modificación de esta política de privacidad</h3>
    <p>&nbsp;</p>
    <p>
    LimpiApp se reserva el derecho de modificar su política de protección de datos de acuerdo con su criterio, o a causa de un cambio legislativo, jurisprudencial o en la práctica empresarial. Si LimpiApp, introduce alguna modificación, el nuevo texto será publicado en esta misma página, donde el usuario podrá tener conocimiento de la política de protección de datos. Sea como sea, la relación con los usuarios se regirá por las normas previstas en el momento preciso en que se accede al espacio web.
    </p>
</div>
