<h1>Login</h1>
<p>formulario que solicita usuario y contraseña al usuario (este ya debe existir en bdd),
  posibilidad de ingresar con redes S o facebook, manejo de autenticación básica y sesiones</p>
