@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.clearfix:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	width: 0;
}
ul {
	list-style-type: none;
}

/** ---------------------------------------
 * Slider
 ----------------------------------------*/
.container {
	width: 100%;
  padding: 0;
}

.slider-wrapper {
	z-index: 500;
	position: relative;
	width: 100%;
	height: 34.6rem;
	background: #FFF;
	/*border: 5px solid #4b5973;*/
	overflow: hidden;
}

.slider-wrapper li {
	display: none;
}

.slider-wrapper .current-slide {
	display: block;
}

.slider-wrapper img {
	position: absolute;
	max-width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

/**
 * ---[Caption] ----------------------
 **/
.slider-wrapper .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	width: 100%;
	color: #FFF;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
  padding-left: 10px;
}

.slider-wrapper li:hover .caption {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}


.slider-wrapper h2 {
	color: #00c5b9;
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 6px;
}

.slider-wrapper p {
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.4em;
}

/**
 * ---[Botones-Control] ----------------------
 **/
.control-buttons {
	margin-top: 2rem;
	text-align: center;
}

.control-buttons li {
	cursor: pointer;
	display: inline-block;
	background: #ccc;
	text-indent: -99999px;
	height: 12px;
	width: 12px;
	margin: 0 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.control-buttons li.active {
	background: #095A51;
}


/** ---------------------------------------
 * Responsive
 ----------------------------------------*/
 @media only screen and (max-width: 825px) {
	 	.container {
	 		width: 500px;
	 	}

	 	.slider-wrapper {
	 		height: 260px;
	 	}
}


 @media only screen and (max-width: 535px) {
	 	.container {
	 		padding: 5px;
	 		width: 100%;
	 		margin: 40px 0 0 0;
	 	}

	 	.slider-wrapper {
	 		height: 200px;
	 	}

	 	.slider-wrapper .caption {
	 		display: none;
	 	}
 }

 @media only screen and (max-width: 410px) {
 	.slider-wrapper {
 		height: 160px;
	}
 	}

	@media screen and (min-width: 1024px) and (max-width: 1350px){
		.slider-wrapper {
	 		height: 21.6rem;
	 	}
 }
